*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main{
    min-height: 100vh;
    padding: 25px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.75));
}
.search-box{
    width: 100%;
    margin: 0 0 75px;
}
.search-bar{
    display: block;
    width: 100%;
    padding: 15px;
    appearance: none;
    background: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0 0 16px 16px;
    margin-top: -25px;
    box-shadow: 0 5px rgba(0,0,0,0.2);
    color: #313131;
    font-size: 20px;
    transition: 0.4s ease;
}
.search-bar:focus{
    background-color: rgba(255,255,255,0.75);
}
.location{
    color: #fff;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
    margin-bottom: 20px;
}
.app-cold{
    background-image: url('./assets/cold-day.jpg');
    background-size: cover;
    background-position: bottom;
    transition: 0.4s ease;
}
.app-warm{
    background-image: url('./assets/sunny-day.jpg');
    background-size: cover;
    background-position: bottom;
    transition: 0.4s ease;
}
.date{
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}
.weather-box{
    text-align: center;
}
.temp{
    position: relative;
    display: inline-block;
    margin: 3px auto;
    background-color: rgba(255,255,255,0.2);
    border-radius: 16px;
    padding: 15px 25px;
    color: #fff;
    font-size: 102px;
    font-weight: 500;
    text-shadow: 3px 6px rgba(50,50,70,0.5);
    text-align: center;
    box-shadow: 3px 6px rgba(0,0,0,0.2);
}
.weather-type{
    color: #fff;
    text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
    font-size: 48px;
    font-weight: 700;   
    margin-top: 10px; 
}